* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  background-image: url(../src/img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: 'Indie Flower', 'Arial', cursive;
  font-weight: 400;
  font-size: 70px;
  color: #ffffff;
  text-align: center;
}

button {
  font-family: 'Indie Flower', 'Arial', cursive;
  font-weight: 300;
  font-size: 30px;
  color: #327e4b;
  background-color: #ffffff;
  width: 250px;
  margin-top: 20px;
  padding: 5px 15px;
  border: 0;
  text-align: center;
  cursor: pointer;
}

.table {
  height: 454px;
  width: 454px;
  border: 2px solid #ffffff;
  position: relative;
  margin: 0 auto;
}

.cell {
  height: 150px;
  width: 150px;
  border: 2px solid #ffffff;
  float: left;
  font-family: 'Indie Flower', 'Arial', cursive;
  font-weight: 400;
  font-size: 100px;
  color: #ffffff;
  text-align: center;
}

.cell:hover {
  border: 5px solid #ffffff;
}
